.input{
    background: #fff !important;
    color: #333333 !important;
    font-weight: 800 !important;
    border: solid 0.12em #333333;
    border-radius: 0.3em;
    letter-spacing: 0.13em;
}
.form-btn{
    border: solid 0.12em #fff;
    border-radius: 0.4em;
    background-color: #333333;
    color: #fff;
    font-weight: 800;
    font-size: 1.6;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}
.page-head{
    font-weight: 700;
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif
}