.input{
    background: #fff !important;
    color: #333333 !important;
    font-weight: 800 !important;
    border: solid 0.12em #333333;
    border-radius: 0.3em;
    letter-spacing: 0.13em;
}
.no-focus-outline:focus {
  outline: none;
}
.form-btn{
    border: solid 0.12em #fff;
    border-radius: 0.4em;
    background-color: #333333;
    color: #fff;
    font-weight: 800;
    font-size: 1.6;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}
.page-head{
    font-weight: 700 !important;
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif
}
  .wapp{
    color: #fff;
    background-color:#21bd5a;
    border-radius: 0.6em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.16em;
    padding-bottom: 0.16em;
    cursor: pointer;
  }
  
  .soci:hover{
    color: #fd0 !important;
  }
  .social-icons-desktop {
      bottom: 10em;
      background-color: #333333 !important;
      right: -0.4em;
      color: #fff !important;
    cursor: pointer;
      border-radius: 0.4em;
      position:fixed;
      display: block;
  }
  
  .social-icon-mobile {
  
      display: block;
      position: fixed;
      bottom: 4em;
      right: 0em;
  
  }
  .locate{
    cursor: pointer;
  }
  .locate :hover .l-arrow{
    color: #fd0;
  }
.c-des{
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  font-weight: 500;
}
.s-image{
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
.Bot{
  position: fixed;
    bottom:0em;
    left: 1em;
}

.bot-head{
  background-color: #333333;
  color: #fff;
  padding  : 0.5em;
  font-weight: 700 !important;
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
}
.bot-icon{
  color: #fff;
  background-color:#333333;
  border-radius: 0.7em;
  padding-left: 0.18em;
  padding-right: 0.18em;
  padding-top: 0.16em;
  padding-bottom: 0.16em;
  cursor: pointer;
  margin-bottom: 0.3em;
}
.go-to-top-button{
  position: fixed;
  bottom: 0.5em;
  right: 0.3em;
  background-color: #333333;
  color: #fff;
  opacity: 0.7;
  border-radius: 0.2em;
    padding-left: 0.16em;
    padding-right: 0.16em;
    padding-top: 0.11em;
    padding-bottom: 0.11em;
    cursor: pointer;
}

.react-chatbot-kit-chat-container {
  max-height: 25em;
}
.react-chatbot-kit-chat-message-container{
  height: 25em !important;
  max-height: 25em !important;
}
.react-chatbot-kit-chat-inner-container {
height: 25em !important;
}
