.navbar{
    background: #333333;
    position: fixed !important;
    transition: all 0.3s ease-out 0s !important;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
    padding: 0.3rem 2rem !important;
    font-size: 1.2rem !important;
    width: 100% !important;
}

.navcolor{
    background: #fd0 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
  width: 100%;
}
.nav-toggle{
    color: #fd0;
}
.nav-toggle-color{
    color: #333333;
}
.nav-li{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Ubuntu, Helvetica Neue, sans-serif !important;
    font-weight: 800;
    text-decoration: none;
    color: #fd0;
}
.nav-li-ask{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Ubuntu, Helvetica Neue, sans-serif !important;
    font-weight: 900 !important;
    text-decoration: none;
    color: #fd0;
    background-color: #c9c9c965;
    border-radius: 0.3em;
    padding-left: 3px;
    padding-right: 3px;
    letter-spacing: 0.18em;
}
.nav-li-ask:hover{
    color:#ffffff;
    border-bottom: 2px solid #ffffff;
    background:none;
    border-radius: 0;
}
.nav-li-ask-color:hover{
    color:#ffffff;
    border-bottom: 2px solid #ffffff;
    background:none;
    border-radius: 0;
}
.nav-li-ask-color{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Ubuntu, Helvetica Neue, sans-serif !important;
    font-weight: 900 !important;
    text-decoration: none;
    color: #333333;
    background-color: #fff7c091;
    border-radius: 0.3em;
    padding-left: 3px;
    padding-right: 3px;
    letter-spacing: 0.18em;
}
.nav-li-color{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Ubuntu, Helvetica Neue, sans-serif !important;
    font-weight: 800;
    text-decoration: none;
    color: #333333;
}
.nav-li-color:hover{
    color: #ffffff;
}
.nav-li:hover{
    color: #ffffff;
}
.logo{
    height: 4em;
}