.footer{
    background-color: #333333;
    box-shadow: 0px 0px 6px 8px #33333349;
}



.f-head{
    color: #fff;
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif ;
    font-weight: 900;
}
.f-p{
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif ;
    font-weight: 600;
}
.s-icons{
    cursor: pointer;
    color: #fff;
}
.s-icons:hover{
color: #fd0;
}
.loopcod{
   height: 1.2em;
   cursor: pointer;
}
.loopcod:hover{
    transform: scale(1.1);
}