.banner{
    background: #fd0;
    color: #333333;
    height:36.6em;
}
.display-2{
    font-weight:900 !important;
    letter-spacing: 0.2em !important;
    font-family: Bwnistagrot bk,sans-serif !important;
    text-transform: uppercase !important;
    color: #333333 !important;

}
.display-6{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif !important;
    font-weight: 500 !important;
    color: #333333 !important;
}
.ban-img{
    margin-top: 12%;
    margin-left: -13%;
    
}