.banner{
    background: #fd0;
    color: #333333;
    height: 36.6em;
    width: 100%;
}
.banner-head{
    font-size: 4em;
    font-weight:900;
    letter-spacing: 0.2em;
    font-family: Bwnistagrot bk,sans-serif;
    text-transform: uppercase;
    color: #333333;

}
.banner-text{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-weight: 600;
    color: #333333;
    font-size: 1.5em;
}
.ban-img{
    width: 45em;
    margin-top: 12%;
    margin-left: -13%;
    
}